table{
  border: 2px double rgb(24, 74, 222);
  background-color: rgb(48, 96, 240);
  margin-left: auto;
  margin-right: auto;
  border-bottom: 25px solid rgb(24, 74, 222);
}
.container{
  text-align: center;
}

span{
  height: 77px;
  width: 77px;
  background-color: #bbb;
  border:2px solid grey;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
